<!DOCTYPE html>
<html lang="en">
<head>
	#parse("common/base.html")
	<meta charset="UTF-8">
	<title>顺银投资</title>
	<link rel="stylesheet" type="text/css" href="$baseUrl/static/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="$baseUrl/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="$baseUrl/static/css/style_console.css">
	<link rel="stylesheet" type="text/css" href="$baseUrl/static/css/personal.css">
	<link rel="stylesheet" href="$baseUrl/static/lib/layui/css/layui.css" media="all">
	<style type="text/css">
		a {
			cursor: pointer;
		}
		.ctn {
			text-align: center;
		}
		.page{
			margin-left: -8px;
			text-align: center;
		}
		.page .layui-form-item>div{
			display: inline-block;
		}
		.page .layui-form-item{
			text-align: center;
		}
		.title{
			display: block!important;
			font-size: 20px;
			margin-bottom: 30px;
			text-align: left;
			/*margin-top: -20px!important;*/
			/*margin-left: 50px!important;*/
		}
		.layui-elem-quote{
			border-left: 5px solid #34A8FA;
			margin-left: 20px;
			margin-top: -10px;
			margin-bottom: 10px;
		}
		.hide{
			display: none;
		}
		.container {
			padding-top: 5px;
		}
		.layui-form-item {
			margin-bottom: -5px;
		}
	</style>
</head>
<body style="text-align: left;background-color: #F5F7F8;">
	<div class="container">
		<div class="page recharge phone" style="background-color: #F5F7F8; ">
			<blockquote class="layui-elem-quote"><p class="title">属性设置</p></blockquote>
			<div>
				<div class="layui-form layui-form-pane">
					<div class="layui-form-item">
						<div>
							<label class="layui-form-label">银行名称</label>
							<div class="layui-input-inline">
								<input type="text" name="bankName" lay-verify="required"  value="$!card.bankName" autocomplete="off" class="layui-input">
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div>
							<label class="layui-form-label">开户信息</label>
							<div class="layui-input-inline">
								<input type="text" name="bankDetail" lay-verify="required"  value="$!card.bankDetail" autocomplete="off" class="layui-input">
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div>
							<label class="layui-form-label">帐号</label>
							<div class="layui-input-inline">
								<input type="text" name="cardNo" lay-verify="required"  value="$!card.cardNo" autocomplete="off" class="layui-input">
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div>
							<label class="layui-form-label">真实姓名</label>
							<div class="layui-input-inline">
								<input type="text" name="realName" lay-verify="required"  value="$!card.realName" autocomplete="off" class="layui-input">
							</div>
						</div>
					</div>
					<div class="layui-form-item hide">
						<div>
							<label class="layui-form-label">银行IMG</label>
							<div class="layui-input-inline">
								<input type="text" name="imgUrl" lay-verify="required"  value="$!card.imgUrl" autocomplete="off" class="layui-input">
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div>
							<label class="layui-form-label">排序</label>
							<div class="layui-input-inline">
								<input type="text" name="sortId" lay-verify="required"  value="$!card.sortId" autocomplete="off" class="layui-input">
							</div>
						</div>
					</div>
					<div class="ctn">
						<input type="hidden" name="cardId" value="$!card.cardId" >
						<button class="layui-btn layui-btn-primary" onclick="closeWindow();">取消</button>
						<button class="layui-btn layui-btn-normal" lay-submit lay-filter="save">确认</button>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="$baseUrl/static/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="$baseUrl/static/lib/layui/layui.js"></script>
<script>
    layui.use(['form','layer'], function() {
		var form = layui.form;
		var layer = layui.layer;
		form.on('submit(save)',function (data) {
			//console.log(data);
            $.ajax({
                async: true,
                url: '$baseUrl/manage/bank_set_edit',
                type: 'get',
                data : {
                    "id":data.field.cardId,
					"bankName":data.field.bankName,
					"bankDetail":data.field.bankDetail,
					"cardNo":data.field.cardNo,
					"realName":data.field.realName,
					"sortId":data.field.sortId
				},
                dataType: 'json',
                success: function(data){
                    if(data.code == 200){
                        layer.alert("操作成功",{icon:1},function(index){
                            window.parent.location.reload();
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.close(index); //再执行关闭
                        });
                    }else{
						layer.alert(data.msg,{icon:0});
                    }
                }
            });
        })
    });

	function closeWindow(){
		var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
		parent.layer.close(index); //再执行关闭
	}
</script>
</html>