<!DOCTYPE html>
<html lang="en">
<head>
	#parse("common/base.html")
	<meta charset="UTF-8">
	<title>顺银投资</title>
	<link rel="stylesheet" type="text/css" href="$baseUrl/static/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="$baseUrl/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="$baseUrl/static/css/style_console.css">
	<link rel="stylesheet" type="text/css" href="$baseUrl/static/css/personal.css">
	<link rel="stylesheet" href="$baseUrl/static/lib/layui/css/layui.css" media="all">
	<style type="text/css">
		a {
			cursor: pointer;
		}
	</style>
</head>
<body style="text-align: left;background-color: #F5F7F8;">
	<div class="container">
		<div class="page recharge phone" style="background-color: #F5F7F8; ">
			<h1>出入金查询</h1>
			<div>
				<table id="remitTable" lay-filter="remit"></table>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="$baseUrl/static/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="$baseUrl/static/lib/layui/layui.js"></script>
<script>
    layui.use(['table','layer'], function() {
        var layer = layui.layer;
        var table = layui.table;
        var options = {
            elem: '#remitTable'
            ,url: Global.baseUrl + '/manage/book' //数据接口
            // ,where : {
            //     userName:userName
            // }
            , page: true //开启分页
            , limits: [5, 10, 20,50]
            ,limit: 5
            ,id: 'tableId'
            ,cols: [[ //表头
                { type: 'numbers', title: 'No'}
                ,{ field: 'type', title: '类型', align: 'center' , width: 70, templet: '#typeTpl'}
                ,{ field: 'userName', title: '帐号', align: 'center' ,width: 100 }
                , { field: 'money', title: '人民币', align: 'center',width: 100,templet: '#moneyTpl'}
                , { field: 'dollar', title: '美元', align: 'center',width: 100,templet: '#dollarTpl'}
                , { field: 'monetaryUnit', title: '货币单位', align: 'center',width: 100}
                , { field: 'flowWay', title: '方式', align: 'center' ,width: 100}
                , { field: 'takeFee', title: '手续费', width:60, align: 'center',templet: '#takeFeeTpl'}
                , { field: 'exchange', title: '汇率', width:60, align: 'center' }
                , { field: 'createTime', title: '时间', width:160, align: 'center',templet: '#dateFmt' }
                , { field: 'status', title: '状态', width:100, align: 'center' }
            ]]
        }
        var tableIns = table.render(options);

        table.on('tool(remit)', function(obj){
            if(obj.event === 'confirm'){
                layer.confirm('真的确认收款了吗', function(index){
                    console.log(index);
                    var record = obj.data;
					console.log(record);
					var result = confirmReceive(record.remitId)
                    if(result.code == 200){
                        layer.alert("操作成功",{icon:1},function (index) {
                            console.log("OK");
                            window.location.reload();
                        });
                    }else{
                        layer.alert("操作失败",{icon:0});
                    }
                });
            }
        });
    });
    function confirmReceive(id){
        var result = null;
        $.ajax({
            async: false,
            url: '$baseUrl/manage/remit_confirm',
            type: 'get',
            data : {"remitId":id},
            dataType: 'json',
            success: function(data){
                result = data;
            }
        });
        return result;
	}

</script>
<script type="text/html" id="toolbar">
	{{# if(d.confirmStatus == 0){ }}
	<a class="layui-table-link" lay-event="confirm">确认收款</a>
	{{# }                  }}
	<!--<span class="vert-line"></span>
    <a class="layui-table-link" lay-event="xxx">xxx</a>-->
</script>
<script type="text/html" id="moneyTpl">
	{{# var temp = d.money/100      }}
	{{=  Global.formatMoney(temp,2,'￥')  }}
</script>
<script type="text/html" id="dollarTpl">
	{{# var temp = d.dollar/100      }}
	{{=  Global.formatMoney(temp,2,'$')  }}
</script>
<script type="text/html" id="dateFmt">
	{{# var temp = new Date(d.createTime)  }}
	{{= temp.format('yyyy/MM/dd hh:mm:ss')  }}
</script>
<script type="text/html" id="takeFeeTpl">
	{{# var temp = d.takeFee/100      }}
	{{=  Global.formatMoney(temp,2,'')  }}
</script>
<script type="text/html" id="typeTpl">
	{{# if(d.type == 0){      }}
		<span style="color: green">入金</span>
	{{#  }else{     }}
		<span style="color: deepskyblue">出金</span>
	{{#  }     }}
</script>
</html>